body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

main {
	height: 100vh;
	width: 100%;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	overflow: hidden;
	position: relative;
}

main .loader, .login-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #fff;
}

.messages  {
	height: calc(100% - 100px);
	overflow-y: scroll;
	padding-bottom: 60px;
	padding-top: 40px;
	-webkit-overflow-scrolling: touch;
}

.messages ul {
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
}

.messages ul li {
	margin-bottom: 10px;
}

.messages ul li div {
	padding: 10px;
	display: inline-block;
	background: #fff;
	border-radius: 4px;
	max-width: 300px;
	word-break: break-word;
	text-align: left;
}

.messages ul li div > span {
	font-size: 12px;
	color: #999;
}

.messages ul li div > p {
	margin: 5px 0 0 0;
}

.messages ul li.my-comment div {
	background: #16DB65;
}

.messages ul li.my-comment div > p {
	color: #fff;
}

.messages ul li.my-comment div > span {
	color: whiteSmoke;
}

.messages ul li.my-comment {
	text-align: right;
}

.msg-form {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 60px;
	position: fixed;
	bottom: 0;
}
.msg-form > input {
	flex-grow: 1;
	font-size: 18px;
	padding-left: 15px;
}

.msg-form > button {
	min-height: 100%;
	background: #E63946;
    border: none;
    color: #fff;
    outline: none;
    box-sizing: border-box;
}

.msg-form > button, .msg-form > input {
	border-radius: 0 !important;
	margin: 0 !important;
}

.login-box {
	width: 100%;
	max-width: 350px;
	margin: 20px auto;
	padding: 20px;
	background: #fff;
}

.login-box input, .login-box button {
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.login-box input {
	padding: 10px 0 10px 10px;
}

.login-box button {
	margin-top: 5px;
	border: none;
	padding: 10px 0;
	background: #222;
	color: #fff;
}

.login-box button.fb {
	background: #3B5998;
}

.login-box button.tw {
	background: #1DA1F2;
}

.rooms-wrap {
	max-width: 1000px;
	margin: 20px auto 0 auto;
	box-sizing: border-box;
	padding: 0 15px;
}

.chat-rooms {
	list-style: none;
	padding: 0;	
}

.chat-rooms a {
	display: block;
	padding: 10px;
	margin: 5px 0;
	background: whiteSmoke;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
}

.chat-rooms a:hover {
	background: silver;
}

.chat-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: whiteSmoke;
	border-bottom: 1px solid #777;
	text-align: center;
}

.chat-header > b {
	padding: 10px;
	display: inline-block;
}

.chat-header > a {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.chat-header > a:hover {
	text-decoration: underline;
}

.dn {
	display: none !important;
}

.red-btn {
	background:  #E0479E;
	border: none;
	color: #fff;
	padding: 7px 10px;
	border-radius: 4px;
}

.red-btn:hover {
	opacity: .9;
}

.create-room-form {
	margin-top: 10px;
}

.create-room-form input {
	border: none;
	height: 22px;
	border-radius: 4px;
	outline: none;
	padding-left: 7px;
}

.create-room-form > button {
	border: none;
	background: #43AA8B;
	color: #fff;
	margin-left: 5px;
	padding: 3px 13px;
	border-radius: 2px;
}

.create-room-form > button:hover {
	opacity: .9;
}

.error-block {
	margin-top: 10px;
	display: block;
	background: #DB504A;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
}

.white-color {
	color: #fff;
}